ul.jstList {
  padding-left: 10px;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}
li.jstItem {
  padding-left: 10px;
  list-style: none;
}


.jstValue {
  font-size: 12px;
  font-weight: 400;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

.jstProperty {
  color: #68bb97;
}

.jstBool {
  color: #1CA8DD;
}

.jstNum {
  color: #9F85FF;
}

.jstNull {
  color: #D0D0D0;
}

.jstStr {
  color: #9cc966;
}

.jstComma {
}

.jstColon {
}

.jstCollapse {
  text-decoration: none;
  color: inherit;
}

.jstBracket {
}

.jstHiddenBlock {
  display: none;
}